<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>
        RecipeMe Page
    </title>
    <!-- Needed Tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bulma StyleSheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    
    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    


    <!-- Stylesheet tags -->
</head>
<body>
    <div class = "container">
        {{> navbar/navdisable}}
    </div>
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-info">
                    <div class="content">
                        <p class="title has-text-centered">
                            Recipe of the Day
                        </p>
                        {{!-- <p class="subtitle">
                            Rating?
                        </p> --}}
                        <div class="content box">
                        </div>
                    </div>
                </article>
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title has-text-centered">
                            Top Contributers
                        </p>
                        {{!-- <p class="subtitle">
                            OR Reviews ????
                        </p> --}}
                        <div class="content box">
                        </div>
                    </div>
                </article>
            </div> <!-- contains login and extra box - column beside search-->
            <div class="tile is-vertical is-8">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                            <h1 class = "title has-text-centered">
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                                &nbsp;
                                RecipeMe User Authentication
                            </h1>
                            <p class = "subtitle has-text-centered">
                                Login or Sign Up to get Full Access to RecipeMe!
                            </p>
                            <div class="has-text-centered">
                                <a href="/login" class="button is-success">
                                    <span class="icon">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                    &nbsp;
                                    RecipeMe Returning User Login
                                    </a>
                                    <a href="/signup" class="button is-info">
                                    <span class="icon">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                    &nbsp;
                                    RecipeMe New User Sign Up
                                </a>
                            </div>
                        </article>
                    </div> <!-- end vert 2 tile div-->
                    
                </div>
            </div> <!--end is-8 vertical -->
    </div> <!-- Container -->
</section> <!--section-->
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                blah blah blah (for now)
            </p>
        </div>
    </div>
</footer>
</body>
</html>